src/KSEPM.Web/bin
src/KSEPM.Web/obj
src/KSEPM.Resources/bin
src/KSEPM.Resources/obj
src/KSEPM.Domain/bin
src/KSEPM.Domain/obj
src/KSEPM.Common/bin
src/KSEPM.Common/obj
src/Tests/KSEPM.Web.Tests/bin
src/Tests/KSEPM.Web.Tests/bin
src/Tests/KSEPM.Common.Tests/bin
src/Tests/KSEPM.Common.Tests/bin
*.suo
*.user
