@using KSEPM.Resources.Views.Olympus

@{
    ViewBag.Title = "Index";
}

<div class="main-page-header-title">
    <h3>@OlympusResource.V_O_main_title</h3>
    <p>@OlympusResource.V_O_main_subtitle</p>
</div>

