@using KSEPM.Resources.Views.Account

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page-header-title">
    <h3>@AccountResource.V_AE_main_title</h3>
    <p>@AccountResource.V_AE_main_subtitle</p>
</div>

