@using KSEPM.Resources.Views.Home
@using KSEPM.Resources.Views.Shared

@{
    ViewBag.Title = "Index";
}

<div class="main-page-header-title">
    <h3>@HomeResource.V_H_main_title</h3>
    <p>@HomeResource.V_H_main_subtitle</p>
</div>

